<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ポケモンステータス計算ツール
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href='/stylesheets/style.css'>
</head>

<body>
    <header>
        <h1>ポケモンステータス計算ツール<img class="icon" src="/images/icon6.png"></h1>
    </header>
    <div class="main">
        <form action="" name="form">
            <div class="setting">
                <div class="input-group flex-nowrap yohaku">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">ポケモン</span>
                    </div>
                    <input type="text" name="pokemon" autocomplete="on" list="pokelist" id=""
                        class="pokemonList form-control" aria-label="Username" aria-describedby="addon-wrapping"
                        oninput="search();pokemons()"
                        onblur="calc(0, 0);calc(1, 1);calc(2, 1);calc(3, 1);calc(4, 1);calc(5, 1)">
                    <datalist id="pokelist">
                    </datalist>
                </div>
                <div class="row">
                    <div class="col-6 rebelu">
                        <div class="input-group flex-nowrap yohaku">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">レベル　</span>
                            </div>
                            <select name="level" id="" class="form-control levelParent"
                                onblur="calc(0, 0);calc(1, 1);calc(2, 1);calc(3, 1);calc(4, 1);calc(5, 1);">
                                <!-- javascriptで生成 -->
                            </select>
                        </div>
                    </div>
                    <div class="col-6 seikaku">
                        <div class="input-group flex-nowrap yohaku">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">性格</span>
                            </div>
                            <select name="" id="natureLi" class="form-control"
                                onblur="calc(1, 1);calc(2, 1);calc(3, 1);calc(4, 1);calc(5, 1);">
                                <!-- javascriptで生成 -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="levelMargin">
                    <span>レベル</span>
                    <input type="button" value="50" class="btn btn-info level50 doubleClick" data-toggle="tooltip"
                        title="レベルを50に設定できるボタンです。" data-placement="bottom"
                        onclick="levelButton(50);calc(0, 0);calc(1, 1);calc(2, 1);calc(3, 1);calc(4, 1);calc(5, 1);">
                    <input type="button" value="100" class="btn btn-info level100 doubleClick" data-toggle="tooltip"
                        title="レベルを100に設定できるボタンです。" data-placement="bottom"
                        onclick="levelButton(100);calc(0, 0);calc(1, 1);calc(2, 1);calc(3, 1);calc(4, 1);calc(5, 1);">
                    <input type="button" name="" id="" value="リセット" class="btn btn-danger doubleClick resetBtn"
                        data-toggle="tooltip" title="反映した結果をリセットすることができるボタンです。" data-placement="bottom"
                        onclick="reset(),levelButton(50)">
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table">
                    <tr class="table-borderless">
                        <th></th>
                        <th class="text-center align-middle stNum">種族値</th>
                        <th class="text-center align-middle stNum">実数値</th>
                        <th class="text-center align-middle stNum">個体値</th>
                        <th class="text-center align-middle stNum">努力値</th>
                    </tr>
                    <tr>
                        <th class="text-center align-middle thWidth">HP</th>
                        <td>
                            <div class="input-group">
                                <input type="text" name="hbs" id="hp" class="tableInput form-control"
                                    oninput="calc(0, 0)">
                                <!-- <span name="hbs" id="hp" class="tableInput form-control" oninput="calc(0, 0)"></span> -->
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="hav" id="hpValue" class="tableInput form-control"
                                    oninput="evCalc(0, 0)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <select name="hiv" id="" class="iv form-control" onblur="calc(0, 0)">
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="hev" value="0" class="tableInput ev form-control"
                                    oninput="calc(0, 0)">
                            </div>
                        </td>
                        <td class="evInputer">
                            <div class="phoneWidth">
                                <input type="button" name="" value="▲"
                                    class="up btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(0, 0);calc(0, 0)">
                                <input type="button" name="" value="▼"
                                    class="down btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(0, 1);calc(0, 0)">
                            </div>
                            <div class="phoneWidth">
                                <input type="button" name="" value="252"
                                    class="btn btn-blue btnMaxMin doubleClick evInput" data-toggle="tooltip"
                                    title="努力値を最大にできるボタンです。" onclick="maxmin(0, 0);calc(0, 0)">
                                <input type="button" name="" value="0" class="btn btn-red doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最小にできるボタンです。" onclick="maxmin(0, 1);calc(0, 0)">
                            </div>
                            <!-- <input type="text" name="hf" class="formula off form-control"> -->
                        </td>


                    </tr>
                    <tr>
                        <th class="text-center align-middle thWidth">攻撃</th>
                        <td>
                            <div class="input-group">
                                <input type="text" name="abs" id="attack" class="tableInput form-control"
                                    oninput="calc(1, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="aav" id="aValue" class="tableInput form-control"
                                    oninput="evCalc(1, 1)" onblur="evCalc()">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <select name="aiv" id="" class="iv form-control" onblur="calc(1, 1)">
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="aev" value="0" class="tableInput ev form-control"
                                    oninput="calc(1, 1)">
                            </div>
                        </td>
                        <td class="evInputer">
                            <div class="phoneWidth">
                                <input type="button" name="" value="▲"
                                    class="up btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(1, 0);calc(1, 1)">
                                <input type="button" name="" value="▼"
                                    class="down btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(1, 1);calc(1, 1)">
                            </div>
                            <div class="phoneWidth">
                                <input type="button" name="" value="252" class="btn btn-blue doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最大にできるボタンです。" onclick="maxmin(1, 0);calc(1, 1)">
                                <input type="button" name="" value="0" class="btn btn-red doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最小にできるボタンです。" onclick="maxmin(1, 1);calc(1, 1)">
                            </div>
                            <!-- <td><input type="text" name="af" class="formula off form-control"></td>    -->
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center align-middle thWidth">防御</th>
                        <td>
                            <div class="input-group">
                                <input type="text" name="bbs" id="defense" class="tableInput form-control"
                                    oninput="calc(2, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="bav" id="bvalue" class="tableInput form-control"
                                    oninput="evCalc(2, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <select name="biv" id="" class="iv form-control" onblur="calc(2, 1)">
                                    <!-- Javascriptで生成 -->
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="bev" value="0" class="tableInput ev form-control"
                                    oninput="calc(2, 1)">
                            </div>
                        </td>
                        <td class="evInputer">
                            <div class="phoneWidth">
                                <input type="button" name="" value="▲"
                                    class="up btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(2, 0);calc(2, 1)">
                                <input type="button" name="" value="▼"
                                    class="down btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(2, 1);calc(2, 1)">
                            </div>
                            <div class="phoneWidth">
                                <input type="button" name="" value="252" class="btn btn-blue doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最大にできるボタンです。" onclick="maxmin(2, 0);calc(2, 1)">
                                <input type="button" name="" value="0" class="btn btn-red doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最小にできるボタンです。" onclick="maxmin(2, 1);calc(2, 1)">
                            </div>
                            <!-- <td><input type="text" name="bf" class="formula off form-control"></td> -->
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center align-middle thWidth">特攻</th>
                        <td>
                            <div class="input-group">
                                <input type="text" name="cbs" id="specialAttack" class="tableInput form-control"
                                    oninput="calc(3, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="cav" id="cValue" class="tableInput form-control"
                                    oninput="evCalc(3, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <select name="civ" id="" class="iv form-control" onblur="calc(3, 1)">
                                    <!-- Javascriptで生成 -->
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="cev" value="0" class="tableInput ev form-control"
                                    oninput="calc(3, 1)">
                            </div>
                        </td>
                        <td class="evInputer">
                            <div class="phoneWidth">
                                <input type="button" name="" value="▲"
                                    class="up btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(3, 0);calc(3, 1)">
                                <input type="button" name="" value="▼"
                                    class="down btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(3, 1);calc(3, 1)">
                            </div>
                            <div class="phoneWidth">
                                <input type="button" name="" value="252" class="btn btn-blue doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最大にできるボタンです。" onclick="maxmin(3, 0);calc(3, 1)">
                                <input type="button" name="" value="0" class="btn btn-red doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最小にできるボタンです。" onclick="maxmin(3, 1);calc(3, 1)">
                            </div>
                            <!-- <input type="text" name="cf" class="formula off form-control"> -->
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center align-middle thWidth">特防</th>
                        <td>
                            <div class="input-group">
                                <input type="text" name="dbs" id="specialDefense" class="tableInput form-control"
                                    oninput="calc(4, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="dav" id="dValue" class="tableInput form-control"
                                    oninput="evCalc(4, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <select name="div" id="" class="iv form-control" onblur="calc(4, 1)">
                                    <!-- javascriptで生成 -->
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="dev" value="0" class="tableInput ev form-control"
                                    oninput="calc(4, 1)">
                            </div>
                        </td>
                        <td class="evInputer">
                            <div class="phoneWidth">
                                <input type="button" name="" value="▲"
                                    class="up btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(4, 0);calc(4, 1)">
                                <input type="button" name="" value="▼"
                                    class="down btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(4, 1);calc(1, 1)">
                            </div>
                            <div class="phoneWidth">
                                <input type="button" name="" value="252" class="btn btn-blue doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最大にできるボタンです。" onclick="maxmin(4, 0);calc(4, 1)">
                                <input type="button" name="" value="0" class="btn btn-red doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最小にできるボタンです。" onclick="maxmin(4, 1);calc(4, 1)">
                            </div>
                            <!-- <input type="text" name="df" class="formula off form-control"> -->
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center align-middle thWidth">素早</th>
                        <td>
                            <div class="input-group">
                                <input type="text" name="sbs" id="speed" class="tableInput form-control"
                                    oninput="calc(5, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="sav" id="sValue" class="tableInput form-control"
                                    oninput="evCalc(5, 1)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <select name="siv" id="" class="iv form-control" onblur="calc(5, 1)">
                                    <!-- javascriptで生成 -->
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="sev" value="0" class="tableInput ev form-control"
                                    oninput="calc(5, 1)">
                            </div>
                        </td>
                        <td class="evInputer">
                            <div class="phoneWidth">
                                <input type="button" name="" value="▲"
                                    class="up btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(5, 0);calc(5, 1)">
                                <input type="button" name="" value="▼"
                                    class="down btn btn-outline-primary doubleClick evInput evUpDown"
                                    onclick="updown(5, 1);calc(5, 1)">
                            </div>
                            <div class="phoneWidth">
                                <input type="button" name="" value="252" class="btn btn-blue doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最大にできるボタンです。" onclick="maxmin(5, 0);calc(5, 1)">

                                <input type="button" name="" value="0" class="btn btn-red doubleClick evInput"
                                    data-toggle="tooltip" title="努力値を最小にできるボタンです。" onclick="maxmin(5, 1);calc(5, 1)">
                            </div>
                            <!-- <input type="text" name="sf" class="formula off form-control"> -->
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div class="push"></div>
    <footer class="text-center">
        <span>運営:<a href="https://kojitake.com/" target="_blank">こじたけブログ</a></span>
        
        <br>
        <span>当サイトは個人が運営するポケットモンスターのファンサイトです。<br>株式会社ポケモン、株式会社ゲームフリークとは一切関連ありません。</span>
        <br>
        <span>Sponsored by <a href="https://denno-times.com" target="_blank">電脳TIMES</a></span>
        
        <div class="ver">
            <span>Ver1.1</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="javascripts/natureList.js"></script>
    <script src="javascripts/pokemonbook.js"></script>
    <script src="javascripts/nCalc.js"></script>
    <script src="javascripts/main.js"></script>
</body>

</html>