@charset "UTF-8";

body {
    background-color: #F0FFF0;
}

/* 計算式を非表示 */
/* .formula {
    display: none;
} */

/* 努力値のボタン */
.phoneWidth {
    display: inline-block;
}

.yohaku {
    padding: 0px 2px 2px 2px;
}

/* ボタン連打でズーム対策 */
.doubleClick {
    touch-action: manipulation; 
}
/* レベル入力欄 */
.rebelu {
    padding-right: 0px;
}
/* 性格入力欄 */
.seikaku {
    padding-left: 0px;
}

/* レベルボタンの余白 */
.levelMargin {
    margin: 5px 3px;
}

.table th {
    border-color: #00FF66;
}

.table td {
    border-color: #00FF66;
}

/* テーブルの余白 */
.table th {
    padding: 3px 3px;
}

/* テーブルの余白を調整 */
.table td {
    padding: 10px 0.1rem;
}

/***** chino add start *****/
header {
    height: 40px;
    background-color: #00FF66;
}
h1 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0;
    color: white;
    line-height: 40px;
}
.icon {
    height: 32px;
    margin: 3px 0 0 6px;
    /* fixed→ absoluteに変更 03/04 kojima*/
    position: absolute;
}
.main {
    margin: 0 10px 10px 10px;
    position: relative;
}
.setting {
    background-color: #66FFCC;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
}
.table-borderless {
    font-size: 12.5px;
}
.table {
    vertical-align: center;
    margin-top: 20px;
}
.stNum {
    width: 13%;
}
.tableInput {
    text-align: right;
}
.table td {
    vertical-align: middle!important;
}
.resetBtn {
    right: 13px;
    position: absolute;
}
.btn-blue {
    background-color: #A7F1FF;
    border-color: #A7F1FF;
}
.btn-red {
    background-color: #FFABCE;
    border-color: #FFABCE;
}
/***** chino add end *****/
/* フッターの固定下記参照
https://qiita.com/Lancai/items/413a722f45219442a1cd 
*/
.push {
    height: 100px;/*フッターと同じ高さに指定*/
  }
footer {
    background-color: #00FF66;
    width:100%;
    height: 71px;
    position: fixed;
    bottom: 0;
    font-size: 12px;
}
.ver {
    position: absolute;
    right: 0;
    display: inline;
}
.red {
    color: red;
}

@media (max-width: 924px) {
    
    /* 個体値 */
    .table td div .iv {
        width: 100px;
    }

    /* 種族値、実数値、努力値 */
    .table td div .tableInput {
        width: 100px;
    }
}

@media (max-width: 768px) {
    /* 個体値 */
    .table td div .iv {
        width: 64px;
    }

    /* 種族値、実数値、努力値 */
    .table td div .tableInput {
        width: 30px;
    }

}

@media (max-width: 493px) {
    .table .thWidth {
        padding: 0;
        width: 18px;
        font-size: 0.8rem;
    }

    .tableInput {
        padding: 0;
    }

    .evInput {
        width: 30px;
        height: 38px;
        padding: 0;
    }
    footer {
        font-size: 10px;
        height: 60px;
    }
}

@media (max-width: 401px) {
    .evUpDown {
        width: 20px;
    }
}

@media (max-width: 375px) {
    table .evInputer {
        padding: 0;
    }
}

@media (max-width: 374px) {
        .table .thWidth {
        width: 29px;
    }

    .evInput {
        width: 43px;
        height: 25px;
        padding: 0;
    }
}